{% extends "network/layout2.html" %}

{% load static %}

{% block title %}
    Sign In | Network
{% endblock %}

{% block body %}

    <div class="w-screen h-screen flex justify-center items-center flex-col bg-gray-800">
        
        <div class="bg-gray-200  w-1/4 px-10 py-6 rounded-md h-auto ">
        <h3 class=" text-center text-gray-700 font-bold text-2xl pb-4 font-mono " >Sign In</h2>
        <form action="{% url 'login' %}" method="post" id="signin-form" >
            {% csrf_token %}
            <div class="form-group mb-2">
                <input class="form-control inp usrnm w-full h-10 p-4 outline-none " type="text" name="username" placeholder="Username" autocomplete="off" autofocus id='usn'>
                <span class=" text-red-500 hidden " id='emailError'>enter a valid email(ex: xyz@sdmit.in)</span>
            </div>
            <div class="form-group">
                <input class="form-control inp pswd w-full h-10 p-4 outline-none " type="password" name="password" placeholder="Password" autocomplete="off" id='pswd'>
                <span class="star text-red-500"><small>{{message}}</small></span>
            </div>
            <center>
                <input class="w-full text-center bg-purple-500 text-white p-2 mt-4 cursor-pointer" type="submit" value="Log in" id="submitButton" disabled>
            </center>
        </form>
        <div>
                Don't have an account?&nbsp;&nbsp;<a class="text-blue-600" href="{% url 'register' %}">Sign Up</a>
        </div>
        </div>
    
        
    </div>


<script>
const emailRegex = /^[a-zA-Z0-9._%+-]+@sdmit\.in$/;
const emailError = document.getElementById('emailError');
const submitbutton = document.getElementById('submitButton');




document.getElementById('usn').addEventListener('keyup',()=>{
const emailInput = document.getElementById('usn');

console.log(emailRegex.test(emailInput.value))

if(!emailRegex.test(emailInput.value)){
    emailError.classList.remove('hidden');
    submitbutton.disabled = true;
}
else{
    emailError.classList.add('hidden');
    submitbutton.disabled = false;
}
});




document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".inp").forEach(input => {
        input.addEventListener('input', () => {
            console.log("dhendu")
            if ((document.querySelector('.usrnm').value == "") || (document.querySelector('.pswd').value == "")) {
                console.log("heye")
                if(document.querySelector('input[type="submit"]').classList.contains('cursor-pointer')){
                    document.querySelector('input[type="submit"]').classList.remove('cursor-pointer');
                    document.querySelector('input[type="submit"]').classList.add('cursor-not-allowed');
                }
                else{
                    document.querySelector('input[type="submit"]').classList.add('cursor-not-allowed');
                }
                
            }
            else {
                document.querySelector('input[type="submit"]').classList.remove('cursor-not-allowed');
                document.querySelector('input[type="submit"]').classList.add('cursor-pointer');
            }
        });
    });
}); 
</script>
{% endblock %}




