{% extends 'network/index.html' %}

{% load static %}

{% block profile %}
<!--this is for followers-->
<div class="hidden w-screen h-screen  justify-center items-center absolute left-0 top-0 z-20 " id="followers">
    <div class="absolute w-screen h-screen bg-black bg-opacity-30 closeFollowers " ></div>
    <div class="w-1/5 bg-gray-50 dark:bg-neutral-900 h-fit rounded-md px-2 pt-1 pb-2 drop-shadow-2xl dark:shadow-black dark:shadow-2xl z-10 " >
        <div class="flex justify-between items-center w-full pl-2 ">
            <div class=" font-bold select-none text-neutral-900 dark:text-gray-300 ">Followers</div>
            <div class=" p-1 dark:hover:bg-gray-800 hover:bg-gray-400 flex justify-center items-center rounded-full transition-all ease-in-out duration-300 ">
                <span class="material-symbols-outlined dark:text-white text-gray-800 inline-block closeFollowersButton cursor-pointer ">close</span>
            </div>
        </div>
        <div class="h-fit w-full">
            {% for follower in followers %}
            <a class="flex h-auto w-full cursor-pointer items-center justify-start  py-2 hover:bg-gray-400 hover:bg-opacity-10 dark:hover:bg-gray-50 px-2 rounded-sm dark:hover:bg-opacity-5 transition-all ease-in-out duration-300 " href="{% url 'profile' follower.username %}">
            <div class="h-11 w-11 rounded-full bg-cover bg-center [background-image:url('{{ follower.profile_pic.url }}')]"></div>
            <div class="px-4">
                <p class="text-sm font-bold dark:text-white text-black">{{ follower.first_name }} {{ follower.last_name}}r</p>
                <p class="text-xs dark:text-neutral-500 text-neutral-500">{{ follower.username }}</p>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>

</div>
<!--this is for following-->
<div class=" w-screen h-screen  justify-center items-center absolute left-0 top-0 z-20 " id="following">
    <div class="absolute w-screen h-screen bg-black bg-opacity-30 closeFollowing " ></div>
    <div class="w-1/5 bg-gray-50 dark:bg-neutral-900 h-fit rounded-md px-2 pt-1 pb-2 drop-shadow-2xl dark:shadow-black dark:shadow-2xl z-10 " >
        <div class="flex justify-between items-center w-full pl-2 ">
            <div class=" font-bold select-none text-neutral-900 dark:text-gray-300 ">Following</div>
            <div class=" p-1 dark:hover:bg-gray-800 hover:bg-gray-400 flex justify-center items-center rounded-full transition-all ease-in-out duration-300 ">
                <span class="material-symbols-outlined dark:text-white text-gray-800 inline-block closeFollowingButton cursor-pointer ">close</span>
            </div>
        </div>
        <div class="h-fit w-full">
            {% for follow in following %}
            <a class="flex h-auto w-full cursor-pointer items-center justify-start  py-2 hover:bg-gray-400 hover:bg-opacity-10 dark:hover:bg-gray-50 px-2 rounded-sm dark:hover:bg-opacity-5 transition-all ease-in-out duration-300 " href="{% url 'profile' follow.username %}">
            <div class="h-11 w-11 rounded-full bg-cover bg-center [background-image:url('{{ follow.profile_pic.url }}')]"></div>
            <div class="px-4">
                <p class="text-sm font-bold dark:text-white text-black">{{ follow.first_name }} {{ follow.last_name}}r</p>
                <p class="text-xs dark:text-neutral-500 text-neutral-500">{{ follow.username }}</p>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>

</div>
    <div class="profile-view dark:bg-gray-900 mt-3 rounded-md overflow-hidden " data-user="{{username.username}}">
        
        <div class="relative">
            <div class="cover-image  w-full h-48 bg-center bg-cover " style="background-image: url({{username.cover.url}})"></div>
            <div class="profile-image w-36 rounded-full h-36 bg-center bg-cover absolute top-1/2 left-6 -translate-y-1/2 " style="background-image: url({{username.profile_pic.url}})"></div>
        </div>
        <div class="profile-details px-3 py-2">
            <div>
                {% if user.username == username.username %}
                    <button class="btn btn-outline-success float-right bg-green-400 px-4 py-[2px] text-sm mt-2 mr-3 font-semibold text-black rounded-full" id="edit-profile-btn">Edit Profile</button>
                {% elif is_follower %}
                    <button class="btn btn-success float-right bg-purple-400 px-4 py-[2px] text-sm mt-2 mr-3 font-semibold text-black rounded-full" onclick="unfollow_user(this,'{{username.username}}','edit_page')" id="following-btn">Following</button>
                {% else %}
                    <button class="btn btn-outline-success float-right bg-purple-400 px-4 py-[2px] text-sm mt-2 mr-3 font-semibold text-black rounded-full " onclick="follow_user(this,'{{username.username}}','edit_page')" id="follow-btn">Follow</button>
                {% endif %}
            </div>
            <div class="details-data">
                <h5 class="text-xl font-bold">{{username.first_name}} {{username.last_name}}</h5>
                <div class="grey">{{username.username}}</div>
                <div class="bio">
                    {% if username.bio is not None %}
                        {{username.bio}}
                    {% endif %}
                </div>
                <div class="grey" style="padding: 8px 0px;">
                    Joined {{username.date_joined | date:"F Y"}}
                </div>
                <div>
                    <strong>
                        {{posts_count}}
                    </strong>
                    &nbsp;<span class="grey">Posts</span>
                    &ensp;
                    <button onclick="showFollowing()">
                        <strong id="following__count">{{following_count | default:0}}</strong>&nbsp;<span class="grey">Following</span>
                    </button>
                    &ensp;
                    <button onclick="showFollowers()">
                        <strong id="follower__count">{{follower_count | default:0}}</strong>&nbsp;<span class="grey">Followers</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
{% endblock %}

{% block emptyprofile %}
    <center>
        <br>
        <strong style="font-size: 1.2em;">{{username.first_name}} hasn't posted</strong>
        <div class="grey" style="font-size: .9em;">When they do, their posts will show up here.</div>
    </center>
{% endblock %}