{% extends 'network/index.html' %}

{% load static %}

{% block profile %}
    <div class="profile-view dark:bg-gray-900 mt-3 rounded-md overflow-hidden" data-user="{{username.username}}">
        <div class="relative">
            <div class="cover-image  w-full h-48 bg-center bg-cover " style="background-image: url({{username.cover.url}})"></div>
            <div class="profile-image w-36 rounded-full h-36 bg-center bg-cover absolute top-1/2 left-6 -translate-y-1/2 " style="background-image: url({{username.profile_pic.url}})"></div>
        </div>
        <div class="profile-details px-3 py-2">
            <div>
                {% if user.username == username.username %}
                    <button class="btn btn-outline-success float-right bg-green-400 px-4 py-[2px] text-sm mt-2 mr-3 font-semibold text-black rounded-full" id="edit-profile-btn">Edit Profile</button>
                {% elif is_follower %}
                    <button class="btn btn-success float-right bg-purple-400 px-4 py-[2px] text-sm mt-2 mr-3 font-semibold text-black rounded-full" onclick="unfollow_user(this,'{{username.username}}','edit_page')" id="following-btn">Following</button>
                {% else %}
                    <button class="btn btn-outline-success float-right bg-purple-400 px-4 py-[2px] text-sm mt-2 mr-3 font-semibold text-black rounded-full " onclick="follow_user(this,'{{username.username}}','edit_page')" id="follow-btn">Follow</button>
                {% endif %}
            </div>
            <div class="details-data">
                <h5 class="text-xl font-bold">{{username.first_name}} {{username.last_name}}</h5>
                <div class="grey">{{username.username}}</div>
                <div class="bio">
                    {% if username.bio is not None %}
                        {{username.bio}}
                    {% endif %}
                </div>
                <div class="grey" style="padding: 8px 0px;">
                    Joined {{username.date_joined | date:"F Y"}}
                </div>
                <div>
                    <strong>
                        {{posts_count}}
                    </strong>
                    &nbsp;<span class="grey">Posts</span>
                    &ensp;
                    <a href="#">
                        <strong id="following__count">{{following_count | default:0}}</strong>&nbsp;<span class="grey">Following</span>
                    </a>
                    &ensp;
                    <a href="#">
                        <strong id="follower__count">{{follower_count | default:0}}</strong>&nbsp;<span class="grey">Followers</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
{% endblock %}

{% block emptyprofile %}
    <center>
        <br>
        <strong style="font-size: 1.2em;">{{username.first_name}} hasn't posted</strong>
        <div class="grey" style="font-size: .9em;">When they do, their posts will show up here.</div>
    </center>
{% endblock %}